header {
  border: 3px solid red;
  width:100%;
  /* height: 100px; */
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  }

header ul {
  display:flex;
  width: 25%;
  align-items: end;

}
header div {
width:25%;
}

header ul li {
  justify-content: flex-start;
  margin: 0 20px;
  margin-bottom: 8px;
  
}

#bios {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 200px;
}

.bio {
  border: 1px solid black;
  width: 400px;
  height: 400px;
}

.bio img {
  width: 50px;
  height: 50px;
}

#firstBox {
  border: 1px solid black;
  width: 700px;
  height: 200px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

h2 {
  text-align: center;
  
}

#h1 {
  text-align: center;
  font-size: 90px;
  display:inline-block;
  width: 60%;
}

h3 {
text-align: center;
font-size: 30px;
padding: 5px;
}

#footer {
  border: 3px solid red;
  width:100%;
  height: 120px;
  background-color: blueviolet;
}

#footer ul {
  /* display:inline-block;
  width: 25%; */
  display:flex;
  justify-content: flex-start;
}

#footer ul li {
  margin: 20px;
  /* margin-left: 100%; */

}